{% extends "base.html" %}
{% load static %}


{% block content%}
    <section class="teacher" id="teacher">
		<div class="container">
			<div class="row">
				<div class="header__text"><h2 style="margin: 10% 0 0 0; font-size: 26px;">
					е-сабак(Мугалим)
				</h2></div>
			</div>
			{% for v in all_videoteacher %}
				<div >
					<h3 style="margin:8% 10% 2% 10%; font-family: 'Noto Serif', serif;">{{v.name}}</h3>
					<video style="width: 80%; margin-right:10%; margin-left: 10%" controls>
						  <source src="{{ v.video.url }}" type="video/mp4" />
					</video>
				</div><!-- End col-md-12-->
     		{% endfor %}
		</div>
</section>
{% endblock %}